
.mailer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-create {
    padding-top: 25px;
}

.mailer-header-date-form {
    display: flex;
    flex-direction: row;
}

.mailer-date-form {
    margin-right: 5px;
}

.mailer-date-form-delete {
    padding-top: 25px;
}